<aside>
  <section class="clear">
      <p>Filters</p>
      <button>Clear All</button>
  </section>

  <section class="filter">
    <!-- filter-category -->
    <div class="filter-category">
      <!-- filter-category-header -->
      <div class="filter-all-header">
        <p>Categories</p>
        <p>^</p>
      </div>
      <!-- filter-category-body -->
      <div class="filter-category-body">
        <!-- check-b -->
        <div class="check-b">
          <div class="kid">
            <input id="check-b-kid" type="checkbox">
            <label for="check-b-kid">kid</label>
          </div>

          <div class="man">
            <input id="check-b-man" type="checkbox" checked>
            <label for="check-b-man">Man</label>
          </div>

          <div class="women">
            <input id="check-b-women" type="checkbox" checked>
            <label for="check-b-women">Women</label>
          </div>

          <div class="casual">
            <input id="check-b-casual" type="checkbox">
            <label for="check-b-casual">Casual</label>
          </div>

          <div class="sport">
            <input id="check-b-sport" type="checkbox">
            <label for="check-b-sport">Sport</label>
          </div>

          <div class="rinbow">
            <input id="check-b-rinbow" type="checkbox">
            <label for="check-b-rinbow">Rinbow</label>
          </div>
        </div>
        <!-- check-n -->
        <div class="check-n">
          <p>(18)</p>
          <p>(12)</p>
          <p>(23)</p>
          <p>(67)</p>
          <p>(34)</p>
          <p>(12)</p>
        </div>
      </div>
    </div>


    <!-- filter-ratings -->
    <div class="filter-ratings">
      <!-- filter-all-header -->
      <div class="filter-all-header">
        <p>Ratings</p>
        <p>^</p>
      </div>
      <!-- filter-ratings-body -->
      <div class="filter-ratings-body">
        <!-- check-b -->
        <div class="check-b">
          <div class="starone">
            <input id="check-b-starone" name="strn" type="radio">
            <label for="check-b-starone">*****</label>
          </div>

          <div class="startow">
            <input id="check-b-startow" name="strn" type="radio" checked>
            <label for="check-b-startow">*****</label>
          </div>

          <div class="starthree">
            <input id="check-b-starthree" name="strn" type="radio">
            <label for="check-b-starthree">*****</label>
          </div>

          <div class="starthree">
            <input id="check-b-starfour" name="strn" type="radio">
            <label for="check-b-starfour">*****</label>
          </div>
        </div>
        <!-- check-n -->
        <div class="check-n">
          <p>(1991)</p>
          <p>(200)</p>
          <p>(300)</p>
          <p>(500)</p>
        </div>
      </div>
    </div>


    <!-- filter-brand -->
    <div class="filter-brand">
      <!-- filter-brand-header -->
      <div class="filter-all-header">
        <p>Brand</p>
        <p>^</p>
      </div>
      <!-- filter-brand-body -->
      <div class="filter-brand-body">
        <!-- check-b -->
        <div class="check-b">
          <div class="adidas">
            <input id="check-b-adidas" type="checkbox">
            <label for="check-b-adidas">Adidas</label>
          </div>

          <div class="nick">
            <input id="check-b-nick" type="checkbox" checked>
            <label for="check-b-nick">Nick</label>
          </div>

          <div class="jacek">
            <input id="check-b-jacek" type="checkbox">
            <label for="check-b-jacek">Jacek & Co</label>
          </div>

          <div class="my">
            <input id="check-b-my" type="checkbox">
            <label for="check-b-my">My Shooed</label>
          </div>

          <div class="florida">
            <input id="check-b-florida" type="checkbox">
            <label for="check-b-florida">Florida Fox</label>
          </div>
        </div>
        <!-- check-n -->
        <div class="check-n">
          <p>(18)</p>
          <p>(12)</p>
          <p>(23)</p>
          <p>(67)</p>
          <p>(34)</p>
        </div>
      </div>
    </div>


    <!-- filter price -->
    <div class="filter-price">
      <!-- filter-brand-header -->
      <div class="filter-all-header">
        <p>Price</p>
        <p>^</p>
      </div>
      <!-- filter-price-body -->
       <div class="filter-price-body">
        <input type="range">
       </div>
    </div>


    <!-- filter size -->
    <div class="filter-size">
      <!-- filter-brand-header -->
      <div class="filter-all-header">
        <p>Size</p>
        <p>^</p>
      </div>
      <!-- filter-size-body -->
       <div class="filter-size-body">
        <input type="range">
       </div>
    </div>


  </section>
</aside>
