<section>
  <div class="container">
  <div class="empty-cart" *ngIf="cartItems.length === 0">السلة فارغة empty cart</div>


<div  *ngFor="let item of cartItems" class="cart-item">
  <img [src]="item.image" class="product-image" />
  <div class="product-details">
    <p><strong>{{ item.title }}</strong></p>
    <p>السعر: {{ item.price }} </p>
    <div class="pmc">
      <button class="minus" (click)="decrease(item.id)"><i class="fas fa-minus"></i></button>
      <span>{{ item.quantity }}</span>
      <button class="pluse"   (click)="increase(item.id)"><i class="fas fa-plus"></i></button>
    </div>
    <p>المجموع الفرعي: {{ item.price * item.quantity }} </p>
    <button class="emp" (click)="remove(item.id)">إزالة</button>
  </div>
</div>

<div *ngIf="cartItems.length > 0" class="cart-total">
  <hr />
  <p>الإجمالي: {{ totalPrice }}</p>
  <div class="cart-subm">
    <button class="cart-clear" (click)="clear()">تفريغ السلة</button>
    <button class="cart-end" (click)="checkout()" *ngIf="cartItems.length > 0">إرسال الطلب</button>
  </div>

</div>

<div *ngIf="showToast" class="toast">
  تم ارسال السلة بنجاح
</div>


</div>
</section>
