  <header>
    <div class="container">

      <div class="logo" (click)="goToHome()"><img src="assets/logov.png" alt="#"></div>

      <ul class="main-nav">
        <!-- search -->
        <li class="search-con">
          <select name="" id="">
            <option value="">All categories</option>
            <option value="">All categories 2</option>
            <option value="">All categories 3</option>
          </select>

          <div class="search-bar">
            <input id="search" type="search" placeholder="search for brudacts">
            <label for="search"><i class="fas fa-search"></i></label>
          </div>
        </li>
        <!-- country -->
        <li class="country">
          <select name="" id="">
            <option value="">SAR</option>
            <option value="">SY</option>
          </select>
          <div class="country-flag"><i class="fas fa-circle"></i></div>
        </li>
        <!-- location -->
        <li class="location">
          <div class="location-icon"><i class="fas fa-solid fa-location-dot"></i></div>
            <select name="" id="">
              <option value="" disabled selected hidden>strore name</option>
              <option value="">first store</option>
              <option value="">first store</option>
            </select>
        </li>
        <!-- cart -->
        <li class="header-cart">
          <a routerLink="cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <!-- login -->
        <li class="header-login">
          <button>Login</button>
        </li>
      </ul>
    </div>

  </header>
