<nav>
  <div class="container">
    <ul>
    <li class="nav-button"><button (click)="goToCategories()">All categories</button></li>
    <li class="nav-home"><a routerLink="/">Home</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Bedrooms</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Living rooms</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Tabls</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Dining rooms</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Brands</a></li>
    <li class="nav-home"><a routerLink="/placeholder">Special offers</a></li>
    <li class="nav-home"><a routerLink="/placeholder">New</a></li>
    <li class="nav-home"><a routerLink="/placeholder">...</a></li>
  </ul>
  </div>
</nav>
